.stuff{
	color: #240D57;
	color: #501FC1;
	color: #8456EC;
	color: #E87BF8;
	color: #CCB6FF;
	color: #EDE5FF;
	color: #240D57;
	color: #240D57;
	color: #240D57;
	color: #240D57;
	color: #240D57;
	color: #240D57;
	color: #240D57;
	color: #240D57;
	color: #240D57;
	color: #240D57;
	color: #240D57;
}

body {
	color: #828282;
	text-align: center;
	font-size: 22px;
}

p {
	margin: 0;
}